<nav class="custom-navbar">
    <a href=""><img src="logo-test.png" alt="Festival Logo" class="logo" /></a>

    <ul class="nav-links">
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/counter">Counter</NavLink></li>
        <li><NavLink href="/weather">Weather</NavLink></li>
        <li><NavLink href="/bands">Bands</NavLink></li>
        <li><NavLink href="/festivals">Festivals</NavLink></li>
        <li><NavLink href="/signin">Sign in</NavLink></li>
        <li><NavLink href="/login">Log in</NavLink></li>
    </ul>
</nav>
