@page "/dashboard"
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

<header class="hero-section">
    <div class="hero-content">
        <h1>Manage Bands</h1>
        <br />
        <Link To="/bands" Class="btn btn-outline-info">
            Bands
        </Link>
    </div>
</header>

<header class="hero-section">
    <div class="hero-content">
        <h1>Manage Festivals</h1>
        <br />
        <Link To="/festivals" Class="btn btn-outline-info">
            Festivals
        </Link>
    </div>
</header>

@code {

}
