@page "/carousel"
@rendermode InteractiveServer

<PageTitle>Festivale disponibile</PageTitle>

<h1>Cele mai tari festivale din tara</h1>
<h2><em>( mai putin cel al lui Selly )</em></h2>

<p>Cand vrei sa te distrezi??</p>
<Addons>
    <Addon AddonType="AddonType.Body">
        <DatePicker @ref="@datePicker" TValue="DateTime?" @bind-Date="@value" />
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Light" Clicked="@(()=>datePicker.ToggleAsync())">
            <Icon Name="IconName.CalendarDay" />
        </Button>
    </Addon>
</Addons>

<br />

<div class="carousel-wrapper">
<Carousel @bind-SelectedSlide="@selectedSlide">
    <CarouselSlide Name="1">
        <div class="image-container">
        <Image Source="intencity.jpg" Text="Intencity" Display="Display.Block" />
        </div>
    </CarouselSlide>
        <CarouselSlide Name="2">
        <div class="image-container">
        <Image Source="antol.jpg" Text="Anton" Display="Display.Block" />
        </div>
    </CarouselSlide>
        <CarouselSlide Name="3">
        <div class="image-container">
        <Image Source="bp.png" Text="Selly" Display="Display.Block" />
        </div>
    </CarouselSlide>
</Carousel>
</div>

@code{
    DatePicker<DateTime?> datePicker;

    DateTime? value;
    private string selectedSlide = "2";
}
